.contact {

  background-image: url("../assets/Background-Contact-Form.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  overflow: hidden;



  &__cover {
    overflow: hidden;
    background: #FFFFFFC9 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: column;
  }

  &__container {
    color: $color-dark-grey;
    width: 600px;
    height: 500px;
    margin: 150px 42px 200px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    align-self: flex-end;


  }

  &__title {
    font-size: 38px;
    margin-bottom: 25px;
  }

  &__form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }

  &__userinfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__userinfo-item {
    width: 256px;
    height: 62px;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom:1px solid $color-dark-grey;

    &--active {
      border: none;
      outline: none;
      border-bottom: 1px solid red;
      margin-top: 5px;
      background-color: transparent;
    }
  }


  &__msg {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__textarea {
    width: 528px;
    height: 97px;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid $color-grey;

    &--active {
      width: 528px;
      height: 97px;
      border: none;
      outline: none;
      resize: none;
      background-color: transparent;
      border-bottom: 1px solid red;
    }
  }

  &__button {
    align-self: flex-end;
    width: 150px;
    height: 50px;
    font-size: 18px;
    padding: 15px 13px;
    margin-top: 30px;
  }
}