.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;

  .nav-link {
    padding: 9px 20px;
    font-size: 18px;
    color: $color-dark-grey;
    cursor: pointer;
    border: none;

    &:first-child {
      border: 0.75px solid $color-dark-grey;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}