.header {
  display: flex;
  height: 100vh;
  margin: 142px;

    &__left-column {
      flex: 1;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: -100px;
        object-fit: fill;
      }
    }
  &__reight-column {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header__login {
      align-self: flex-end;
      margin: 37px 0 17px 0;

      .header__link {
        font-size: 14px;
        padding: 9px 10px;
        text-decoration: none;
        color: $color-grey;
      }
    }
  }
}